.container {
  display: block;
}

.flexContainer {
  display: flex;
  align-items: center;
}

.iconContainer {
  border-radius: 50%;
  background-color: var(--light-pink);
  color: var(--dark-pink);
  margin-right: 8px;
  padding: 6px;
}
