.container {
  margin: 12px 0;
  display: flex;
  border: 5px solid var(--light-pink);
  background-color: var(--light-pink);
  color: var(--dark-pink);
  cursor: pointer;
}

.text {
  font-family: "Courier New", Courier, monospace;
  padding: 8px;
}

.color {
  flex: 1 1;
  padding: 8px;
  color: black;
}
