.container {
  margin: 12px 0;
  display: flex;
  border: 5px solid #f8cbfc;
  background-color: #f8cbfc;
  color: #f066c2;
  cursor: pointer;
}

.text {
  font-family: "Courier New", Courier, monospace;
  padding: 8px;
}

.color {
  flex: 1 1;
  padding: 8px;
  color: black;
}
