.link {
  color: var(--light-pink);
  border: 5px solid var(--light-pink);
  padding: 10px;
  margin: 5px 0;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  font-size: 2em;
  width: 100%;
}

.link:hover,
.link:focus {
  background-color: var(--light-pink);
  color: var(--dark-pink);
}

.link svg {
  width: 1em;
  height: 1em;
  padding-right: 5px;
}

.link span {
  flex-grow: 1;
  text-align: center;
}
