.imageContainer::before {
  content: "";
  background-image: linear-gradient(
    red 0%,
    red 16.6666%,
    orange 16.6666%,
    orange 33.333%,
    yellow 33.333%,
    yellow 50%,
    green 50%,
    green 66.6666%,
    blue 66.6666%,
    blue 83.3333%,
    purple 83.3333%,
    purple 100%
  );
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  touch-action: none;
  pointer-events: none;
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
}

.imageContainer:hover::before {
  opacity: 0;
}

.imageContainer {
  position: relative;
  height: 200px;
}

.profilePicture {
  border-radius: 100%;
  max-width: 200px;
  position: initial !important;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileContainer h1 {
  margin-top: 0;
  margin-bottom: 0.8em;
  font-weight: normal;
  font-size: 3em;
}
