.imageContainer {
  position: relative;
  height: 200px;
}

.profilePicture {
  border-radius: 100%;
  max-width: 200px;
  position: initial !important;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-weight: normal;
  font-size: 3em;
}
