a {
  color: var(--light-pink);
  text-decoration: none;
}

.invert-background {
  background-color: var(--light-pink);
  color: var(--dark-pink);
}

.invert-background ::selection {
  color: var(--light-pink);
  background-color: var(--dark-pink);
}

::selection {
  color: var(--dark-pink);
  background-color: var(--light-pink);
}

.no-select {
  user-select: none;
}

.sr-only {
  /* https://github.com/twbs/bootstrap/blob/f61a0218b36d915db80dc23635a9078e98e2e3e0/scss/mixins/_visually-hidden.scss */
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.rounded {
  border-radius: 12px;
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
}

.text-center {
  text-align: center;
}
