:root {
  --dark-pink: #ff55c8;
  --light-pink: #ffd4f1;
}

html,
body {
  background-color: var(--dark-pink);
  color: var(--light-pink);
  width: 100%;
  /* min-height: 100vh; */
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  /* font-size: 36px; */
  /* overflow-x: hidden; */
}

* {
  box-sizing: border-box;
  scrollbar-color: var(--light-pink) var(--dark-pink);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--dark-pink);
}

::-webkit-scrollbar-thumb {
  background: var(--light-pink);
  border-radius: 10px;
  border: 3px var(--dark-pink) solid;
}

a {
  color: var(--light-pink);
  text-decoration: none;
}
